<div class="row">
  <div class="col s12 center">
    <h2>Table <span class="red-text text-darken-1 border-box"><%= @table.id %></span></h2>

    <!-- Page Navigation Links -->
    <div class="page-nav row">
      <div class="col s4 m4 l4">
        <%= link_to "Back", profile_path, class: "btn-large red darken-1 nav-spacing"%>
      </div>

      <div class="col s4 m4 l4">
        <button id="view-receipt" class="btn-large red darken-1 nav-spacing" type="button" name="button">View Receipt</button>
      </div>

      <div class="col s4 m4 l4">
        <%= form_tag  '/customers', method: :post do %>
          <%= hidden_field_tag :table_id, @table.id %>
          <%= button_tag 'Add Cust', class: 'red darken-1 btn-large nav-spacing' %>
        <% end %>
      </div>
    </div>
    <!-- End of Page Navigation -->

    <!-- Receipt MODAL -->
    <div id="modal-receipt">
      <% @customers.each do |customer| %>
        <h6 class="left-align white-text"><%= customer.name %></h6>
        <% orders = Order.where customer_id: customer.id %>
        <ul class="left-align">
          <% orders.each do |order| %>
            <li class="white-text"><%= order.item.name %> : $<%= order.item.price %></li>
          <% end %>
        </ul>
      <% end %>
      <h5 class="white-text">Total <%= @table_orders.length %> Item(s): <%= number_to_currency(@sub_total) %></h5>
      <h5 class="white-text">Sales Tax: <%= number_to_currency(@tax_bill) %></h5>
      <h4 class="white-text">Grand Total: <%=number_to_currency(@total_bill) %></h4>

      <!-- Pay Bill -->
      <%= form_tag '/customers', method: :put do %>
        <%= hidden_field_tag :table_id, @table.id %>
        <%= button_tag 'Pay Bill', class: 'red darken-1 btn-large' %>
      <% end %>
    </div>
    <!-- End of Receipt MODAL -->

    <% @customers.each do |customer| %>
    <a class="black-text" href="/customers/<%= customer.id %>">
    <div class="card">
      <div class="card-content hoverable">
        <h4><%= customer.name %></h4>
      </div>
    </div>
    </a>
    <% end %>
  </div>
</div>
